*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222831;
    /* overflow: hidden; */
}

#preloader{
    background: #000 url(./assets/images/loader.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; 
}


/* Landing animaton */
    .hero {
        display: grid;
        position: relative;
        grid-template-columns: 100vw;
        grid-template-rows: 100vh;
        place-items: center;
        overflow: hidden;
        animation: clip-hero-anim 1.25s cubic-bezier(0.29, 0.8, 0.8, 0.98) 4.4s;
        will-change: clip-path;
        background: linear-gradient(to bottom right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(./assets/images/landing-background.webp);
        background-repeat: no-repeat;
        background-position: 70% 60%;
        background-size: cover;
        background-attachment: fixed;
       
    }

    .heroContent {
        display: grid;
        position: absolute;
        z-index: 10;
        opacity: 0;
        animation: anim 0.75s 5.9s linear forwards;
    }

    .heroContent h1 {
        margin-bottom: 0;
    }

    .navIconsOne{
        animation: scale .5s ease-in-out 6.4s, pop .2s ease 6.4s forwards;
    
        opacity: 0;
    }

    .navIconsTwo{
        animation: scale .5s ease-in-out 6.8s, pop .2s ease 6.8s forwards;
   
        opacity: 0;
    }

    .navIconsThree{
        animation: scale .5s ease-in-out 7.2s, pop .2s ease 7.2s forwards;
     
        opacity: 0;
    }

    .navIconsFour{
        animation: scale .5s ease-in-out 7.6s, pop .2s ease 7.6s forwards;
        opacity: 0;
    }
    

    @keyframes anim {
            from {
                opacity: 0;
        }
            to {
                opacity: 1;
        }
    }

    @keyframes pop {
            from {
                opacity: 0;
        }
            to {
                opacity: 1;
        }
    }
    
    @keyframes clip-hero-anim {
            from {
                clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        }
            to {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }

    @keyframes scale {
            from {
            transform: scale(1.5);
            
            
        }
            to {
            transform: scale(1);
            
        }
    }

/* Landing animaton Ends */


/* Hover for icons */
    .hover{
        transition: transform .2s;
    }

    .hover:hover{
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
    }
/* End of Hover */

.labelTitle{
    color: #00ADB5;
    font-size: 2rem;
}
.typed-cursor{
    color:#00ADB5;
    font-size: 2rem;
}

.brandLogo{
    width: 30px;
}

.offcanvasContainer{
    background-color: rgba(24, 24, 16, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    /* background-size: cover;
    background-repeat: no-repeat; */
}

.navLink{
    position: relative;
}

.navLink::after{
    content:"";
    width: 0%;
    height: 3px;
    background: #00ADB5; 
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar-nav {
    --bs-nav-link-color: #fff;
}

.navLink:hover::after{
    width: 100%;
}

.btn-close{
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23539e43'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 1;
    --bs-btn-close-hover-opacity: 1;
    --bs-btn-close-white-filter: none;
}

.navbar-dark{
    --bs-navbar-color: #539e43;
    --bs-navbar-hover-color: #00ADB5;
    --bs-navbar-active-color: #00ADB5;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2883, 158, 67, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
    --bs-navbar-toggler-border-color: #539e43;
}

.aboutPhotoContainer{
    background: #00ADB5;
    backdrop-filter: blur(15px);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgba(181, 255, 255, 0.2);
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(46, 54, 68, .8);
}





.tab-links{
    font-size: 18px;
    font-weight: 500;
    color: #00ADB5;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #00ADB5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}


.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:#00ADB5;
}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display:block
}


/* CSS for Project Section */

#projects{
    background: linear-gradient(to bottom right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .8)), url(./assets/images/projectbackground.avif);
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover;
    background-attachment: fixed;
}

.projectContainer{
    height: 500px;
    position: relative;
    overflow: hidden;

}

.projectContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.5s;
}

.projectDescription{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #00ADB5 );
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: height  0.5s;
}

.linkIcon{
    color:#00ADB5;
}

.projectContainer:hover img{
    transform: scale(1.1);
}

.projectContainer:hover .projectDescription{
    height: 100%;
}

.github{
    border: 1px solid #00ADB5;
    width: fit-content;
    transition: background 0.5s;
}

.github a {
    text-decoration: none;
}

.github:hover{
    background-color: #00ADB5;
}





/* Tools Section */
#tools{
    background: url(./assets/images/toolsbackground.avif);
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover;
    background-attachment: fixed;
}


.toolsContent{
    position: relative;
    perspective: 2500px;
   
}

.toolsContainer {
    transition: all 0.5s;
    background: rgba(24, 24, 16, .2);
    backdrop-filter: blur(15px);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(46, 54, 68, .8);
}

.toolsContent:hover .toolsContainer {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);

}

.toolsContent:hover {
    z-index: 1;
}

.toolsContainer > img {
    transition: all 0.2s;
}

.toolsContent:hover .toolsContainer > img{
    opacity: 0.5;
}

.toolsContent .toolTitle{
    position: absolute;
    transition: transform 0.5s;
    z-index: 2;
    font-size: 2vw;
}

.toolsContent:hover .toolTitle {
    transform: translateY(-2rem);
}

.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}

.toolsContent:hover .character {
    opacity: 1;
    transform: translateY(-6rem)
}

.smallToolContainer{
    background: rgba(24, 24, 16, .2);
    backdrop-filter: blur(15px);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(46, 54, 68, .8);
}

.toolIcons{
    transition: transform .2s ease;
}

#htmlContainer:hover  #htmlIcon{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#cssContainer:hover  #cssIcon{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#jsContainer:hover  #jsIcon{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#bsContainer:hover  #bsIcon{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#mongoContainer:hover  #mongoIcon{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#ejsContainer:hover  #ejsIcon{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#rjsContainer:hover  #rjsIcon{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#njsContainer:hover  #njsIcon{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
/* End of CSS for Tools Section */

/* CSS for Contact */

#contact{
    background: url(./assets/images/contactbackground.webp);
    background-repeat: no-repeat;
    background-position: 95% 100%;
    background-size: cover;
    background-color: #222831;
}

.formContainer{
    background: rgba(24, 24, 16, .2);
    backdrop-filter: blur(15px);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.8);
}

form textarea{
    height: 200px;
    resize: none;
}

.formSubmit{
    border: 1px solid #00ADB5;
    transition: background 0.5s;
}

.formSubmit:hover {
    background-color: #00ADB5;

}

.resume{
    background-color: #00ADB5;
    width: fit-content;
    transition: transform 0.2s;

}

.resume:hover{
    transform: scale(1.2);
}

.resume a{
    text-decoration: none;
}

footer img{
    max-height: 20px;
}

footer{
    background: rgba(24, 24, 16, .2);
    backdrop-filter: blur(15px);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 767px ){
    .navLink:hover::after{
        width: 25%;
    }
}